
.container{
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    height:600px;
    width:1400px;
    margin: 0px auto 120px;
    border: 0px solid none;
    
    
    
}
.bt-1{
    color:#91df13;
    font-family:'Merriweather';
    font-size: 25px;
    font-weight: 400;
    width: 280px;
    height: 40px;
    padding: 140px 0px 0px 0px;
    margin: 0px auto;
    
}

.style1{
    font-family: 'Merriweather', serif;
    color: #ffd30f;
    font-size: 70px;
    font-weight: 900;
    line-height: 95px;
    height:190px;
    width:630px;
    text-align: center;
    margin: 0px auto;
  
    
}
.bt-2{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    color: #F00;
    margin: 0px auto;
    font-family: 'Inter';
    font-size: 70px;
    font-weight: 700;
    width: 380px;
    height: 110px;
    padding: 10px;

}
.bt-3{
    color: #F00;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    width: 400px;
    height:30px;
    margin:0px auto;
    padding: 10px;

    
}
.bt-4{
    color: #070211;
    text-align: center;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    height:55px ;
    width: 410px;
    margin: 0px 510px;
    padding: 10px;
    

}
.img-1{
    width: 802.9px;
    height: 500px;
    margin: 0px auto 100px;
    padding: 10px;
}
.start-body{
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    height:600px;
    width:1320px;
    margin: 0px auto 120px;
    border: 0px solid none;
    display: flex;
    justify-content: space-between;

}
.p-2{
    font-family: 'Merriweather', serif;
    color: #FFF;

    font-family: 'Merriweather';
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    width: 640px;
    height: 175px;
    margin:126px 126px 0px 130px;

}
.p-3{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    width: 695px;
    height: 60px;
    margin: 10px 126px 0px 130px;

   

}
.p-4{
    color:#FFF;
    background-color: black;
    width:100px ;
    height:22px ;
    border: 1px solid yellow;
    margin:10px 126px 0px 130px ;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;


}
.images-2{
    display: flex;
    width: 320px;
    height: 465px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    margin:80px 140px 65px -50px;
    border: 0px solid none;
}
.about{
     padding: 130px;
     background-image: linear-gradient(#fccaca, #f5dcdc00 );
     height:100px ;
     width: 800px;
     border: 0px solid none;
     margin: 100px 385px 215px 250px;
}
.section-description ul>li{
    
    color: #070211;
    font-family: 'Inter';
    font-size: 28px;
    font-weight: 600;
    line-height: 50px;
    


    
}
.section-description{
    margin: 50px 0 0 100px;
}
ul> li{
    display: flex;
    text-decoration: none;
    text-align: center;
    
}
.style{
    color: #F00;
}
#btn{
    color:white;
    border-radius: 3px;
    background: #F00;
    border: 0px solid #F00;
    padding: 10px;
    font-size: 10px;
}
.btn-1{
    text-align: center;
}
#section-description2{
    margin:130px;
}
#sd-1{
    color:#F00;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 500;
    width: 205px;
    height: 28px;
}
#sd-2{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 45px;
    font-weight: 900;
    width: 325px;
    height: 60px;
    
    
}
#sd-3{
    color: rgba(7, 2, 17, 0.60);

font-family: 'Inter';
font-size: 15px;
font-weight: 400;
line-height: 28px;
width:390px ;
height:128px ;


}
#about-2{
    display: flex;
    justify-content: space-between;

}

#img-3{
    width:400px;
    height:400px ;
    border: 15px solid #F00;
    border-radius: 465px;
    text-align: center;
    padding: 30px 10px 10px;
    
    
    
}
#w-h{
    width: 364.844px;
    height: 364.844px;
    text-align: center;
    
}
#featured{
    
    background: #FFF;
    
}
.section-heading{
    margin: 0px 0px 0px 140px;
}
#sh-1{
    color: #F00;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 500;
    width: 192px;
    height:29px;
    border: 1px solid none;
    padding: 5px;
}
#sh-2{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 40px;;
    font-weight: 900;
    width:556px;
    height:60px;
}
#sh-3{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    width: 896px;
    height:64px;
}
.section-content{
    display: flex;
    justify-content:space-between;
    align-items: end;
    gap: -200px;
    margin:0px 0px 0px 100px ;
    
}
#section-content1{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 0px 120px;
     gap: -200px;
     align-items: end;
     
    
}
.foot:hover{
      cursor:pointer;
      transition: 0.8s;
      color:aqua;
      border:1px solid red;
      border-radius: 15px;

}
.section-content .foot:hover{
    cursor:pointer;
    transition: 0.8s;
    color:aqua;
    border:1px solid red;
    border-radius: 15px;
}
.section-content .foot{
    width: 424px;
    height: 450px;
   flex-shrink: 0;
   margin: 0 auto;
}
#sec{
    background-image:linear-gradient(#f7d1d1, #f3e4e400 ) ;
    margin:10px 130px;
    border-radius: 10px;
    width: 1320px;
    height: 616px;
}
.part1{
    width: 150px;
    height: 150px;
    margin: 80px 585px 0px 585px;


}
#head-p1{
    color: #070211;

    text-align: center;
    font-family: 'Merriweather';
    font-size: 40px;
    font-weight: 900;
}
#head-p2{
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: 'Inter';
font-size: 15px;
font-weight: 400;
line-height: 26px;
width: 896px;
height:64px;
margin:20px 212px 0px 212px;

}
#in-btn{
    
    margin: 40px 336px 80px 500px;

}
.users{
    color: rgba(7, 2, 17, 0.30);

text-align: center;
font-family: 'Inter';
font-size: 13px;
font-weight: 400;
border-radius: 50px 0px 0px 60px;
padding:10px;
background: #FFF;
border:1px solid white;

}
.sub{
    color: #FFF;

    text-align: center;
    font-family:'Inter';
    font-size: 13px;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 10px;
    border:1px solid white;
}
#last-items{
    background-color: #070211;
    height: 610px;
    width: 1500px;

}
.m{
    margin: 120px 0 0 140px ;
}
#l-i1{
    color: #FFF;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    height: 80px;
    width: 375px;
    display: flex;

}
#l-i2{
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    justify-content: right;

}
.web{
    text-decoration: none;
    color:white;
}
.dv{
    margin: 30px 120px 30px 0px ;
    padding: 10px;
    

}
hr :hover{
    width: 1320px;
    height: 0px;
    background: #FFF;
    cursor:pointer;
    border-radius: 5px;
    

}
.hr:hover{

cursor:pointer;
transition: 0.8s;
color:aqua;
border:1px solid red;
border-radius: 1px;
width:1320px;
}
#img-part{
    display: flex;
    margin:80px 0px 100px 550px ;
    width: 64px;
    height: 64px;
    margin-right:5px;
}
hr:hover{

    cursor:pointer;
    transition: 0.8s;
    color:aqua;
    border:1px solid red;
    border-radius: 1px;
    width:1320px;
    margin-bottom: 500px;

    }
